version: "3.9"
services:
  traefikcompose:
    image: traefik:v3.1
    container_name: traefikcontainer
    restart: unless-stopped
    command:
      - "--api.dashboard=true"                # Enable Traefik dashboard
      - "--api.insecure=true"                 # Allow dashboard access without auth (for local testing)
      - "--providers.docker=true"             # Enable Docker as a configuration source
      - "--providers.docker.exposedbydefault=false"  # Don't expose all containers automatically
      - "--entrypoints.web.address=:80"       # HTTP entrypoint
      - "--entrypoints.websecure.address=:443" # HTTPS entrypoint
    ports:
      - "6060:80"     # HTTP
      - "6061:443"   # HTTPS
      - "6062:8080" # Traefik dashboard (http://localhost:8080)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefikvolume:/etc/traefik

volumes:
  traefikvolume:

